.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.person-name {
  display: flex;
  margin-bottom: 10px;
}

.fname,
.lname,
.mobile-email,
.new-password,
.female,
.male {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.fname,
.lname {
  margin-right: 10px;
}

.dob {
  display: flex;
}

.dob > * {
  margin-right: 10px;
}

.full-width {
  font-size: 1rem;
  width: 100%;
}

.gender {
  font-size: 1rem;
  display: flex;
  margin-bottom: 10px;
}
.dob-label,
.gender-label {
  font-size: 1rem;
}
.female,
.male {
  margin-right: 5px;
}

.sign-up-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #42b72a;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
